.book {





  &:has(img) .title {
    margin-top: 1.5rem;
  }

  // &:not(:has(img)) h2 {
  //   margin-top: 0;
  // }

  &:has(.author) .title {
    margin-bottom: 0.5rem;
  }

  &:has(.on-sale) {
    background-color: hsl(45 90% 90%);
    box-shadow: 3px 4px 5px 2px hsla(45 90% 90% / 0.5);
  }

  &:has(.title:empty):has(.description:empty) {
    display: none;
  }

  //   &:has(.title:empty, .description:empty) {
  //     display: none;
  //   }
}
